body {
    /* background-color: rgb(4, 45, 51); */
    background-color: rgb(17, 17, 27);
    color: rgb(202, 211, 245);
    margin: 0;
    padding: 0;
    font-family: "Madimi One", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    /* background-color: rgb(4, 45, 51); */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div {
    width: 30px;
    height: 100px;
    border-radius: 20px;
    background: rgb(140, 170, 238);;
    box-shadow: 0px 0px 10px 10px rgba(140, 170, 238, 0.5);;
    position: fixed;
    top: 0;
    left: 44.19%; /* Center the cube horizontally */
    transform: translateX(-50%); /* Adjust the position after centering */
    animation: mymove 5s infinite;
    z-index: -1; /* Set a negative z-index to place it behind other elements */
}

@keyframes mymove {
    from {
        top: calc(98vh - 100px);
    }
    to {
        top: 0;
    }
}

.wrapped {
    background: linear-gradient(45deg, rgb(24, 25, 38), rgb(41, 44, 60));
    width: 550px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(6, 100px);
    position: relative; /* Add relative positioning */
    z-index: 0; /* Set a z-index to ensure it's above the body */
    border-radius: 10px;
    font-family: "Madimi One", sans-serif;
}


.title {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    /* background-color: red; */
    backdrop-filter: blur(100%);
    /* outline: 2px solid red; */
    width: 280px;
    height: 220px;
    padding: 10px;
    grid-column: 2 / 5;
    grid-row: 3 / 5;
}

input {
    background-color: rgb(17, 17, 27);
    color: rgb(140, 170, 238);
    box-shadow: 5px 5px 1px rgb(54, 65, 90);;
    outline: 1px solid rgb(140, 170, 238);;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    font-family: "Madimi One", sans-serif;
}

input::placeholder {
    color: rgb(202, 211, 245);
}

button {
    background-color: rgb(140, 170, 238);
    color: rgb(17, 17, 27);
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: all 0.15s;
    font-family: "Madimi One", sans-serif;
}

button:active {
    box-shadow: 0px 0px 1px 10px rgba(140, 170, 238, 0.5);;
}

#outPut {
    background-color: rgb(35, 38, 52);;
    width: 700px;
    height: 600px;
    overflow: auto;
    border-radius: 10px;
    font-family: "Madimi One", sans-serif;
}